.home-page {
    margin: 1rem;
    text-align: center;
}
.home-page-content {
    width: 100%;
    height: 100%;
    text-decoration: none;
}
.userinfo-title{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
}
.home-page-image img{
    width: 30%;
}
