.header-left-conner {
    float: left;
    width: auto;
    margin-right: 30px;
}
.header-logo{
    font-weight: bold;
    font-size: 30px;
    color: #b9ffa6;
}

.header-logout {
    font-size: 26px;
    font-weight: bold;
    color: white;
    float: right;
}

.header-userinfo {
    float: right;
    margin-right: 50px;
    color: white;
    font-size: 25px;
    font-style: italic;
}
.layout-content {
    overflow-y: auto;
}
