.login-page{
    padding-top: 150px;
    margin: 0 auto;
    width: 400px;
}
.login-heading{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 30px;
}
.input-form {
    border-radius: 0.4em;
    border: solid #d9d9d9;
    position: relative;
}
.login-form-button{
    width: 400px;
}
