.register {
    width: 100%;
    height: 100%;
    position: absolute;
    padding-top: 60px;
}

.register-container {
    padding-top: 80px;
}

.register-heading {
    text-align: center;
    font-size: 30px;
    font-family: "Arial Black", monospace;
    margin-left: -20px;
    margin-bottom: 30px;
}
